/* Enrollment Form section */

.enrollment-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 var(--space-6); 
    gap: var(--space-9);
}

.enrollment__intro{
    display: flex;
    flex-direction: column;
    gap: var(--space-3);
    align-items: center;
}

/* Enrollment Highlights */

.enrollment__highlights{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-1);
    padding: var(--space-1);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: var(--border-radius-4);
    width: 100%;
    background-color: var(--gray-800);
}

.enrollment__highlight{
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: var(--space-4) 0;
    background-color: var(--gray-900);
}

.enrollment__header{
    font-family: var(--font-archivo);
    font-weight: var(--font-light);
    font-size: var(--font-size-6xl);
    line-height: var(--lh-100);
    color: var(--color-primary-softer);
    align-self: center;
}

.enrollment__detail{
    font-family: var(--font-archivo);
    font-weight: var(--font-light);
    font-size: var(--font-size-lg);
    line-height: var(--lh-500);
    letter-spacing: var(--ls-6);
    align-self: center;
}


/* Form section */

.enrollment__action-form{
    display: flex;
    flex-direction: column;
    gap: var(--space-6);
    padding: var(--space-6) var(--space-3);
    border-radius: var(--border-radius-4);

    background:
    /* Soft top‑left glow */
    radial-gradient(
      circle 300px at left top,
      rgba(254,227,175,0.1) 0%,
      transparent 80%
    ),
      rgba(255,255,255,0.08);

    border: 1px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

/* Steps */

.enrollment__submission-steps{
    display: grid;
    /* flex-direction: column; */
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: var(--space-3);
    border-bottom: 1px solid var(--gray-700);
}



/* Form */

.enrollment__form-module{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.enrollment__form{
    display: flex;
    flex-direction: column;
    gap: var(--space-10);
}


.enrollment__form-inputs{
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-6);
}

.enrollment__form-input{
    display: flex;
    flex-direction: column;
    gap: var(--space-1);
    position: relative;
}

label{
    font-family: var(--font-archivo);
    font-weight: var(--font-regular);
    font-size: var(--font-size-base);
    line-height: var(--lh-250);
    letter-spacing: var(--ls-8);
    /* text-transform: uppercase; */
    padding-left: 2px;
}

input, select, option{
    display: flex;
    padding: 2rem 2rem;
    background-color: transparent;
    border-radius: var(--border-radius-4);
    border: 1px solid var(--gray-400);
    box-sizing: border-box;
    /* padding-top: 18px; */

    font-family: var(--font-archivo);
    font-weight: var(--font-regular);
    font-size: var(--font-size-lg);
    line-height: var(--lh-300);
    letter-spacing: var(--ls-8);
    color: var(--white);

    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow: inset 0 0 8px rgba(0,0,0,0.2);
    outline: none;
    transition: border 0.3s ease, box-shadow 0.3s ease;
    
}



.placeholder{
    font-family: var(--font-archivo);
    font-weight: var(--font-medium);
    font-size: var(--font-size-md);
    line-height: var(--lh-300);
    letter-spacing: var(--ls-2);
    color: var(--gray-300);
    padding: 0 2rem;
    padding-top: 3px;
    position: absolute;
    top: 50%;

    pointer-events: none; /* Allow clicking through */
    transition: all 0.2s ease;

}




input:focus {
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 12px rgba(136, 136, 136, 0.2);
}

/* select */
select, ::picker(select){
    appearance: base-select;
}

select{
    width: 100%;
}

selectedcontent, option{
    display: flex;
    gap: 2rem;
    align-items: center;
}

option{
    padding-block: 1rem;
    background-color: rgb(20, 20, 20);
}



.experience-img, .skill-img{
    width: 3rem;
}

option::checkmark{
    display: none;
}

option:checked{
    background-color: rgba(0, 0, 0, 0.767);
}

/* btn */

.enrollment__cta{
    align-self: center;
}
/* Enrollment steps */

.enrollment__submission-step{
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
    align-items: center;
}

.enrollment__step-details{
    display: flex;
    flex-direction: column;
    gap: var(--space-0);
    align-items: center;
}

.enrollment__step-num{
    font-family: var(--font-inter);
    font-weight: var(--font-semi-bold);
    font-size: var(--font-size-base);
    line-height: var(--lh-250);
    text-align: center;
}

.enrollment__step-brief{
    font-family: var(--font-archivo);   
    font-weight: var(--font-extra-light);
    font-size: var(--font-size-md);
    line-height: var(--lh-200);
    letter-spacing: var(--ls-3);
    color: var(--gray-200);
    text-align: center;
}


.enrollment__step-icon-box{
    width: var(--space-10);
    height: var(--space-10);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.enrollment__step-icon-box--fill{
    background-color: var(--white);
}

.enrollment__step-icon-box--stroke{
    border: 2px solid var(--color-primary);
}


.enrollment__step-icon{
    width: 42.5%;
    height: auto;
}

@media (min-width: 25rem){
/* 400px to 576px */

.enrollment__action-form{
    padding: var(--space-8) var(--space-4);
    border-radius: var(--border-radius-8);
}

.enrollment__submission-steps{
    gap: 3rem;
    padding: var(--space-4);
}

label{
    font-size: var(--font-size-md);
}


}

@media (min-width: 36rem) {
/* 576px to 768px */

.enrollment__highlights{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: var(--space-2);
    border-radius: var(--border-radius-8);
    background-color: var(--gray-900);
}

.enrollment__header{
    font-size: var(--font-size-5xl);
}

.enrollment__detail{
    font-size: var(--font-size-md);
}

}

@media (min-width: 48rem) {
/* 768px to 1024px */
.enrollment__highlights{
    width: 90%;
}

.enrollment__form-inputs{
    grid-template-columns: 1fr 1fr;
}

}

@media (min-width: 64rem) {


}

@media (min-width: 80rem) {

}

@media (min-width: 96rem) {

}
