/* FAQ */

.faq__section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-9);
    margin: 0 var(--space-6);
}

.faq__intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-3);
}

.faq__items{
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
    width: 100%;
}

.faq__card{
    display: flex;
    flex-direction: column;
    padding: var(--space-3);
    border-radius: var(--border-radius-4);
    border: 1px solid var(--color-primary-stroke);
}

.faq__pair{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--space-1);
}

.faq__answer{
    display: none;

}

.faq__answer p{
    font-family: var(--font-archivo);
    font-weight: 200;
    font-size: var(--font-size-md);
    line-height: var(--lh-500);
    letter-spacing: var(--ls-4);
    color: var(--gray-400);
    width: 92%;
}

.active{
    display: block;
}

.rotate{
    transform: rotate(180deg);
}


.faq__pair h4{
    font-family: var(--font-inter);
    font-weight: var(--font-medium);
    font-size: var(--font-size-md);
    line-height: var(--lh-300);
    letter-spacing: var(--ls-4);
}

.faq-icon{
    background: none;
    border: none;
    width: 3rem;
    height: 3rem;
    transition: transform 0.5s ease-in-out;
}

.faq-icon img{ 
    width: 100%;
    height: 100%;
}



@media (min-width: 25rem){
/* 400px to 576px */
}

@media (min-width: 36rem) {
/* 576px to 768px */

.faq__card{
    border-radius: var(--border-radius-8);
}

}

@media (min-width: 48rem) {
/* 768px to 1024px */

}

@media (min-width: 64rem) {
/* 1024px to 1280px */

}

@media (min-width: 80rem) {
/* 1280px to 1536px */

}

@media (min-width: 96rem) {
/* 1536px  */

}

