@import './header.css';
@import './hero.css';
@import './achievements.css';
@import './enrollment-offer.css';
@import './tech-firms.css';
@import './cohort-module.css';
@import './features-queue.css';
@import './form.css';
@import './community.css';
@import './mentor.css';
@import './learning-outcome.css';
@import './tools.css';
@import './projects.css';
@import './testimonials.css';
@import './faq.css';
@import './footer.css';
@import './base.css';
@import './component.css';
@import './utils.css';
@import './mentor.css';

/* Base (0 - 29.99rem) = mobile-first */
/* 62.5% of 16 = 10px */




@media (min-width: 0){
    html{
    font-size: 31.25%; 
    /* 5px */
}
}

/* ≥30rem (480px) */
@media (min-width: 36rem) {
    html{
        font-size: 37.5%;
        /* 6px */
    }
}


/* ≥48rem (768px) */
@media (min-width: 48rem) {
    html{
        font-size: 43.75%;
    }
    /* 7px */
}

/* ≥64rem (1024px) */
@media (min-width: 64rem) {
    html{
        font-size: 56.25%;
        /* 9px */
    }
}

/* ≥80rem (1280px) */
@media (min-width: 80rem) {
  html{
        font-size: 62.5%;
        /* 10px */
    }
}

/* ≥96rem (1536px) */
@media (min-width: 96rem) {
  html{
    font-size: 75%;
    /* 12px */
  }
}




