/* Projects */

.projects__section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 var(--space-6);
    gap: var(--space-9);
}

.projects__intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-3);
}

.projects__list{
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
}

.projects__card{
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    padding: var(--space-4);
    justify-content: space-between;
    align-items: center;
    border-radius: var(--border-radius-10);

    
    background:
    /* Soft top‑left glow */
    radial-gradient(
      circle 300px at left top,
      rgba(254,227,175,0.1) 0%,
      transparent 80%
    ),
      rgba(255,255,255,0.08);

    border: 1px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.projects__image{
    display: flex;
}

.projects__image img{
    width: 100%;
    height: auto;
}

.projects__details{
    display: flex;
    flex-direction: column;
    gap: calc((var(--space-0)) * 8);
    /* width: 55% */
}

.projects__card-section{
    display: flex;
    flex-direction: column;
    gap: var(--space-3);
}

.projects__tags{
    display: flex;
    gap: var(--space-3);
}

.projects__profiles{
    display: flex;
    gap: var(--space-0);
    justify-content: space-around;
}

.projects__title-info{
    display: flex;
    flex-direction: column;
    gap: var(--space-0);
}

.projects__title-info h3{
    font-family: var(--font-archivo);
    font-weight: var(--font-medium);
    font-size: var(--font-size-3xl);
    line-height: var(--lh-250);
}

.projects__title-info p{
    font-family: var(--font-inter);
    font-weight: var(--font-light);
    font-size: var(--font-size-lg);
    line-height: var(--lh-250);
    letter-spacing: var(--ls-3);
    color: var(--gray-100);
    /* width: 100%; */
}

.projects__tags{
    display: flex;
    gap: var(--space-3);
}

.projects__tag-item{
    display: flex;
    /* gap: var(--space-1); */
    padding: var(--space-0) var(--space-1);
    border-radius: 2px;
    background-color: var(--white);
}

.projects__tag-item p{
    color: var(--gray-900);
    font-family: var(--font-inter);
    font-weight: var(--font-medium);
    font-size: var(--font-size-sm);
    line-height: var(--lh-250);
}

.projects__card-section span{
    font-family: var(--font-inter);
    font-weight: var(--font-regular);
    font-size: var(--font-size-md);
    line-height: var(--lh-250);
    letter-spacing: var(--ls-4);
}

.projects__profile-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc((var(--space-0)) * 3);
    padding: var(--space-1);
    position: relative;
}

.projects__profile-image{
    width: var(--space-10);
    height: var(--space-10);
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: end;
    background-color: white;
    border: 1px solid var(--color-primary);
    overflow: hidden;
}

.projects__profile-image img{
    width: 84%;
}

.projects__profile-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    padding: 0 var(--space-1);
}

.projects__profile-info h4{
    font-family: var(--font-inter);
    font-weight: var(--font-medium);
    font-size: var(--font-size-md);
    line-height: var(--lh-200);
    text-align: center;
}

.projects__profile-info p{
    font-family: var(--font-inter);
    font-weight: var(--font-light);
    font-size: var(--font-size-sm);
    line-height: var(--lh-200);
    letter-spacing: var(--ls-2);
    text-align: center;
}


.projects__profile-linkedin{
    width: 1.8rem;
    height: auto;
    position: absolute;
    top: -1px;
    right: var(--space-2);
}



@media (min-width: 25rem){
/* 400px to 576px */
.projects__profile-image{
    width: var(--space-lg);
    height: var(--space-lg);
}


}

@media (min-width: 36rem) {
/* 576px to 768px */

.projects__details{
    margin: 0 15%;
}

}

@media (min-width: 48rem) {
/* 768px to 1024px */

.projects__list{
    display: flex;
    flex-direction: row;
    gap: var(--space-4);
}

.projects__details{
    margin: 0;
}

}

@media (min-width: 64rem) {
/* 1024px to 1280px */


}

@media (min-width: 80rem) {
    /* 1280px to 1536px */

}

@media (min-width: 96rem) {
    /* 1536px  */

}